// app global css in SCSS form

@font-face {
  font-family: highwaygothic;
  src: url(./fonts/HWGW.woff);
}

* {
  font-family: highwaygothic;
}

.body, html {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.body, html::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.useful-links-card {
  max-width: 300px;
}

.modal-card {
  width: 900px;
  max-width: 80vw;
}

.holiday-icon {
  opacity: 0.9;
  pointer-events: none;
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: -5vh;
  pointer-events: none;
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 100vh, 0);
  }
}

@for $i from 1 through 50 {
  .holiday-icon:nth-child(#{$i}) {
    --size: #{random(3) + 2}rem;
    --left-ini: #{random(20) - 10}vw;
    --left-end: #{random(20) - 10}vw;
    left: #{random(100)}vw;
    animation: snowfall #{5 + random(10)}s linear infinite;
    animation-delay: -#{random(10)}s;
  }
}
