$primary   : #58a5dd;
$secondary : #f14e9d;
$accent    : #9C27B0;

$dark      : #373736;
$dark-page : #232322;

$positive  : #48b646;
$negative  : #f34933;
$info      : #31CCEC;
$warning   : #f36e22;
